<div class="container">

	<h1>The Rectangle {{message}}</h1>
	<svg 
	ng-mousedown="mouseDown($event)"
	ng-mouseup="mouseUp($event)"
	ng-mousemove="mouseMove($event)"
	ng-click="mouseClick($event)"

	height="400" 
	width="400" 
	xmlns="http://www.w3.org/2000/svg" 
	xmlns:xlink="http://www.w3.org/1999/xlink">
	<rect
		data-type="object"
		data-shape="rectangle"  
		data-id="123"
		ng-attr-x="{{rect.x}}" 
		ng-attr-y="{{rect.y}}" 
		ng-attr-width="{{rect.width}}" 
		ng-attr-height="{{rect.height}}" 
		ng-attr-fill="{{rect.fill}}" 
		ng-attr-stroke-width="{{rect['stroke-width']}}" 
		ng-attr-stroke="{{rect.stroke}}">
	</rect>
	<rect
		data-type="tool"
		data-mode="resize"
		data-id="789"
		data-parent="123" 
		fill="white"
		fill-opacity="0"
		ng-attr-x="{{resizeTool.x}}" 
		ng-attr-y="{{resizeTool.y}}" 
		ng-attr-width="{{resizeTool.width}}" 
		ng-attr-height="{{resizeTool.height}}" 
		ng-attr-stroke-width="{{resizeTool['stroke-width']}}" 
		ng-attr-stroke="{{resizeTool.stroke}}"
		ng-attr-visibility="{{toolState.visibility}}">
	</rect>
	<circle
		data-type="tool"
		data-mode="rotate"
		data-id="456"
		data-parent="123" 
		fill="white"
		fill-opacity="0"
		r="7" 
		ng-attr-cx="{{rotateTool.cx}}" 
		ng-attr-cy="{{rotateTool.cy}}" 
		ng-attr-fill="{{rotateTool.fill}}" 
		ng-attr-stroke-width="{{rotateTool['stroke-width']}}" 
		ng-attr-stroke="{{rotateTool.stroke}}"
		ng-attr-visibility="{{toolState.visibility}}">
	</circle>

</svg>

<div>
	<button class="btn btn-mini" ng-click="moveUp()">UP</button>
	<button class="btn btn-mini" ng-click="moveDown()">DOWN</button>
	<button class="btn btn-mini" ng-click="moveLeft()">LEFT</button>
	<button class="btn btn-mini" ng-click="moveRight()">RIGHT</button>
</div>
<br>
<div>
	<button class="btn btn-mini" ng-click="scaleUp()">SCALE UP</button>
	<button class="btn btn-mini" ng-click="scaleDown()">SCALE DOWN</button>
</div>
<br>
<div>
Start X: {{mouseState.startX}} <br>
Start Y: {{mouseState.startY}} <br>
Current X: {{mouseState.currentX}} <br>
Current Y: {{mouseState.currentY}} <br>
dx: {{mouseDelta.x}} <br>
dy: {{mouseDelta.y}} <br>
mode: {{toolState.mode}} <br>
</div>
</div>